---
http_interactions:
- request:
    method: post
    uri: https://www.gasbuddy.com/gaspricemap/county?lat=35&lng=-105&usa=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      X-Datadome:
      - protected
    body:
      encoding: ASCII-8BIT
      string: '[{"Id":2231,"Name":"Guadalupe","State":"NM","Price":3.075,"Distance":19.88}]'
  recorded_at: Mon, 09 Jan 2023 17:41:46 GMT
recorded_with: VCR 6.1.0
