---
http_interactions:
- request:
    method: post
    uri: https://www.gasbuddy.com/gaspricemap/county?lat=33&lng=-110&usa=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      X-Datadome:
      - protected
    body:
      encoding: ASCII-8BIT
      string: '[{"Id":2501,"Name":"Graham","State":"AZ","Price":3.575,"Distance":22.19}]'
  recorded_at: Sun, 08 Jan 2023 22:37:26 GMT
recorded_with: VCR 6.1.0
