---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <api_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40ce50aa0261544a35fab39bf6f4f638"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '2,11'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":8040180,"resource_state":1},"name":"Morning
        Ride","distance":19626.7,"moving_time":3376,"elapsed_time":3441,"total_elevation_gain":91.7,"type":"Ride","sport_type":"Ride","workout_type":0,"id":7676999058,"start_date":"2022-08-21T16:28:23Z","start_date_local":"2022-08-21T09:28:23Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":0,"kudos_count":6,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a7676999058","summary_polyline":"cpq}G~f_mVD@M?B@UJAF@fEB\\BLJFfAALEFW@aAE}F?{GD_ACiACy\\C{E@wAIgV@aFB}EBOAsBCo@Ky@]_A]q@EY@O`@cB~CeKtBuF|@aBr@}@l@m@`W_Ut@s@r@{@`B_B|AkAFIJ[Bq@@oFPgJ@oCKeCYaCk@cCy@qB}@}AeAkAy@o@_CsA}@y@i@aAwB_FU_@e@i@u@e@cAW}G?aD@[Ee@UY[We@Uw@IoAA{BDuBBeOBqBC}@CiKAuDBWE}@Mw@Qm@Sk@Yg@UYa@]g@Wi@McK@{HE{i@LuFC_D@_@Dg@\\U`@kCbISpAGtEIz@WdASd@o@dAc@b@aC~AmA`A}AbAUJ[\\kGnEeA~@wDtCg@Z]\\uCnBe@d@Wb@KFW?YNsF~DsE|CkFxDa@R[X_BbAoDnC_KbHq@^m@f@eV`Q{@f@q@j@uQjMaA\\u@JoGD{@NgAd@a@ZuCtCa@XgAb@u@JqJGk@EoCFIE_FA_BIgCBuJKm@IMBOLu@\\MPoAlP?VOpA@TDVQZQnCg@~Ci@lB@JIHMV[d@GT?LCPGHKEMLGR{@t@kApAs@|AWdAg@~A@\\Gd@k@f@QXIDARF\\GDKCIJm@nBMt@OrAElA@vADt@CFUHEHANDhBBhH@j@J~@Nx@^`AdA`BPb@DT@v@DTV^Pd@Lt@ApZCnDLvAD`EFVVT?ZDJHDp@DpDHhEGhAF`ECnGKvLHfDAvEJ~KJf@Dr@PfAl@ZV|@lA`@`A`@bBLr@\\fEPdAVdAv@`Bh@r@x@r@b@X|Al@f@FnCx@z@Rr@D|BDj@Ff@MHDb@CZF~@@ZL~@S~@GzOBhAHdCIl@Fb@d@z@lBb@v@Lb@l@vAzA~C\\p@TXZfAd@p@Rd@Vr@FFXp@V`@Pd@PLFGAGCABBG@@@AA@GEBIEQk@MQSK@HBBE@@BfAnBR`@BRX\\LF?Jd@lA`AzBVb@b@hAjA`Cx@hBj@dAl@pAb@`@^l@J?TQhHmJhI_KhDwElFaHbE{EhEaE~HyH~SmShDqDdEuDh@o@fA}ANORJT^J^Fz@Jj@LZPPRLTDjD?p@DRLRPJTV|@PHvAEFKd@DfCE`DWnE?x@^VGTSVIzANb@?zAGTCHIDM@m@@ITALIABB??E","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"start_latlng":[46.953141102567315,-122.88127197884023],"end_latlng":[46.95306843146682,-122.88124976679683],"average_speed":5.814,"max_speed":14.488,"average_watts":88.3,"kilojoules":298.2,"device_watts":false,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"elev_high":75.2,"elev_low":36.3,"upload_id":8193006469,"upload_id_str":"8193006469","external_id":"7EC78CA4-7B4F-4E19-8125-208CF54D1CF0-activity.fit","from_accepted_tag":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":8040180,"resource_state":1},"name":"Evening
        Walk","distance":5907.4,"moving_time":3637,"elapsed_time":5154,"total_elevation_gain":19.8,"type":"Walk","sport_type":"Walk","id":7283388518,"start_date":"2022-06-10T00:34:14Z","start_date_local":"2022-06-09T18:34:14Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-21600.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":0,"kudos_c[...]
