---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <api_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6414f49b96dc8d99af334cfc608cd119"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '1,10'
    body:
      encoding: ASCII-8BIT
      string: '{"id":8040180,"username":null,"resource_state":2,"firstname":"Ashley","lastname":"Turner","bio":"","city":"Denver","state":"Colorado","country":"United
        States","sex":"F","premium":false,"summit":false,"created_at":"2015-02-25T00:23:28Z","updated_at":"2023-01-07T21:39:28Z","badge_type_id":0,"weight":86.1825,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/8040180/26271026/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/8040180/26271026/1/large.jpg","friend":null,"follower":null}'
  recorded_at: Mon, 09 Jan 2023 17:47:56 GMT
recorded_with: VCR 6.1.0
